body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url('../images/white-wood.jpg') no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

.indifferent {
  border: 1px solid rgb(245, 197, 26);
  box-shadow: -1px 1px rgb(245, 197, 26), -2px 2px rgb(245, 197, 26), -3px 3px rgb(245, 197, 26), -4px 4px rgb(245, 197, 26);
  background-color: #dddd22; 
}


.dubious {
  border: 1px solid #FA5046;
  box-shadow: -1px 1px #FA5046, -2px 2px #FA5046, -3px 3px #FA5046, -4px 4px #FA5046;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

h4.amiable {
  background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(255,255,255,0));
}

h4.indifferent {
  background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(255, 255, 255, 0));
}

h4.dubious {
  background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(255, 255, 255, 0));
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  box-sizing: border-box;
  border: 2px solid black;
}